/* <<<<<<< HEAD */
/* -------------F O N T S ------------ */
/* Montserrat */@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* hind */ @import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

* {
    padding: 0px;
    margin: 0px;
    color:#ffffff;
    font-family: 'Nunito', sans-serif;
   
}
.first-section{
    background-color: #000000;
}


html{
    scroll-behavior:smooth;;
}

:root{
    --purple:#f85597;
    --dark:#282828;
    --white: #c1c1c1;
    --blue:#42fbf2;
}


/* ------------------------------ N A V I G A T I O N ------------------------------- */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*----------L O G O----------- */

.img-container{
    margin-top: 0.5rem;
}
.img-container > img{
    width: auto;
    transform: scale(0.5);
    transition: 350ms transform ease-in-out;
}
.img-container > img:hover{
    cursor:pointer;
    transform: scale(0.6);
}

/* nav-links */

.navbar-links ul{
    display: flex;
    margin: 0; /*fixing margin and padding between each ul item*/
    padding: 0;
    justify-content: center;
    align-items: center;
}
.navbar-links li{
    list-style-type: none;
    transition: 250ms transform ease-out;

}


.navbar-links li a{
    text-decoration: none;
    margin: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:'Hind', sans-serif;

}

.selected{
    color:var(--blue) !important;
    border-bottom: 2px solid var(--purple);
}


.navbar-links ul li:hover, ul li a:hover{
    /* transform: scale(1.1); */
    color: var(--blue);
    text-shadow: 10px 5px 5px var(--blue);
    text-shadow: 0 0 5px var(--blue),
    0 0 20px var(--blue),
    0 0 60px var(--blue); 
   
} 
 
.toggle-button{
    /* position item to the  top left of the screen */
    position: absolute;
    top: 1rem;
    right: 1rem;

   display: none; /*to only show on mobile screen*/
   flex-direction: column; /*spans are in column*/
   justify-content: space-between;/*add space between each span*/


   width: 30px; 
   height: 21px;
}

.toggle-button .bar{
    height: 3px; /*height of actual span  bar*/
    width: 100%;

    background-color: var(--white);
    border-radius: 10px;
}


/* -------------------R E S P O N S I V E - N A V B A R ------------------------- */


@media (max-width:576px) {
  
    .toggle-button{
    display: flex; /*display button*/
    }
    .navbar-links{
     /*hide navlinks*/ 
     display: none;  
    width: 100%; /*aligining the text to center*/
    height: 100%;
    }


    .navbar{
        flex-direction: column;

        /* align-items: flex-start; */
        
    }
    .navbar-links ul{
        height: 100vh;
        z-index: 9999;
        flex-direction: column;
        width: 100%; /*aligining text to center and eaiser to click*/

    }

    .navbar-links li{
        text-align: center;
        margin: 50px auto;
        /* display: block; */
    }

    .img-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .img-container> img{
        width: auto;
        transform: scale(0.5);
    }
    

 



    /* onlclick make it active */
    .navbar-links.active {
        display: flex;
    }
    .navbar.active{
        background-color: #000000;
    }
    .hide.active{
        display: none;
    } 
  
}



/* ======= */






/* bottom nav toggle */

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: black;
  }
  
  .rubik-font {
    font-family: "Rubik", sans-serif;
  }
  
  main {
    background-image: url("");
    background-position: center 0%;
    background-size: cover;
    background-color: wheat;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 2;
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
  }
  
  body[data-nav="true"] > main {
    transform: translateY(-50%);
  }
  
  nav {
    height: 50vh;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    overflow: hidden;
  }
  
  #nav-links {  
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    margin-top: clamp(2rem, 2vw, 3rem);
    padding: 0rem clamp(1rem, 2vw, 2rem);
    transform: translateY(70%) scale(0.9);
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97); 
  }
  
  body[data-nav="true"] > nav > #nav-links {
    transform: translateY(0%) scale(1);
  }
  
  #nav-links > .nav-link {
    text-decoration: none;
  }
  
  #nav-links > .nav-link > .nav-link-label {
    color: white;
    font-size: 1.25rem;
    margin: 0rem;
    text-transform: uppercase;
  }
  
  #nav-links > .nav-link > .nav-link-image {
    width: max(20vw, 400px);
    aspect-ratio: 1.8 / 1;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
  }
  
  #nav-toggle {
    height: 5rem;
    width: 5rem;
    position: fixed;
    z-index: 3;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    background-color: rgb(182, 142, 113);
    border: none;
    border-radius: 5rem;
    outline: none;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
  }
  
  #nav-toggle:hover {
    transform: translateX(-50%) scale(1.04);
  }
  
  #nav-toggle:active {
    transform: translateX(-50%) scale(0.96);
  }
  
  body[data-nav="true"] > #nav-toggle {
    background-color: rgb(85, 130, 149);
  }
  
  body:not([data-nav="true"]) > #nav-toggle:hover > .open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
  #nav-toggle > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    color: rgb(246, 231, 224);
    font-size: 1.75rem;
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
  }
  
  body[data-nav="true"] > #nav-toggle > .close {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }



/* first section */
/* >>>>>>> refs/remotes/origin/master */

/* rough */

