/* -------------F O N T S ------------ */
/* Montserrat */@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* hind */ @import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

* {
    padding: 0px;
    margin: 0px;
    color:#ffffff;
    font-family: 'Nunito', sans-serif;
   
}
.first-section{
    background-color: #000000;
}


html{
    scroll-behavior:smooth;;
}

:root{
    --purple:#f85597;
    --dark:#282828;
    --white: #c1c1c1;
    --blue:#42fbf2;
}


/* ------------------------------ N A V I G A T I O N ------------------------------- */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*----------L O G O----------- */

.img-container{
    margin-top: 0.5rem;
}
.img-container > img{
    width: auto;
    transform: scale(0.5);
    transition: 350ms transform ease-in-out;
}
.img-container > img:hover{
    cursor:pointer;
    transform: scale(0.6);
}

/* nav-links */

.navbar-links ul{
    display: flex;
    margin: 0; /*fixing margin and padding between each ul item*/
    padding: 0;
    justify-content: center;
    align-items: center;
}
.navbar-links li{
    list-style-type: none;
    transition: 250ms transform ease-out;

}


.navbar-links li a{
    text-decoration: none;
    margin: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:'Hind', sans-serif;

}

.selected{
    color:var(--blue) !important;
    border-bottom: 2px solid var(--purple);
}


.navbar-links ul li:hover, ul li a:hover{
    /* transform: scale(1.1); */
    color: var(--blue);
    text-shadow: 10px 5px 5px var(--blue);
    text-shadow: 0 0 5px var(--blue),
    0 0 20px var(--blue),
    0 0 60px var(--blue); 
   
} 
 
.toggle-button{
    /* position item to the  top left of the screen */
    position: absolute;
    top: 1rem;
    right: 1rem;

   display: none; /*to only show on mobile screen*/
   flex-direction: column; /*spans are in column*/
   justify-content: space-between;/*add space between each span*/


   width: 30px; 
   height: 21px;
}

.toggle-button .bar{
    height: 3px; /*height of actual span  bar*/
    width: 100%;

    background-color: var(--white);
    border-radius: 10px;
}


/* -------------------R E S P O N S I V E - N A V B A R ------------------------- */


@media (max-width:576px) {
  
    .toggle-button{
    display: flex; /*display button*/
    }
    .navbar-links{
     /*hide navlinks*/ 
     display: none;  
    width: 100%; /*aligining the text to center*/
    height: 100%;
    }


    .navbar{
        flex-direction: column;

        /* align-items: flex-start; */
        
    }
    .navbar-links ul{
        height: 100vh;
        z-index: 9999;
        flex-direction: column;
        width: 100%; /*aligining text to center and eaiser to click*/

    }

    .navbar-links li{
        text-align: center;
        margin: 50px auto;
        /* display: block; */
    }

    .img-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .img-container> img{
        width: auto;
        transform: scale(0.5);
    }
    

 



    /* onlclick make it active */
    .navbar-links.active {
        display: flex;
    }
    .navbar.active{
        background-color: #000000;
    }
    .hide.active{
        display: none;
    } 
  
}



